*{
    box-sizing: border-box;
}
.navigation{
    background: #f2e9e4;
    align-items: center; justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.navigation a:hover{
    background-color: #d18213;
}
.navigation table{
    margin: 10px;
    font-size: 22px; font-weight: 300; color: black; border-spacing: 15px;
}

.title{
    font-size: 35px; font-weight: 600; color: black; text-decoration: none;
}
.headerText{
    font-size: 16px; color: black; text-decoration: none; text-align: center; padding: 0px 15px;
    transition: background-color 0.25s ease-out;
}
.tabletext{
    font-size: 20px; font-weight: 200; color: black; 
    padding-right: 5%; border-spacing: 15px;
}

.mobileMenu{
    background-color: #f2e9e4; display: none;
}

.mobileMenu>img{
    width: 40px; margin: 15px 0px;
}

#navButtons{
    display: flex; flex-direction: row; column-gap: 20px;
}

.navShow{
    display: block !important;
}

.profile{
    max-width: 100%; word-wrap: break-word; padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 5%; gap: 20px; display: flex; flex-direction: row;
}

.profileImage{
    border-radius: 20px; max-width: 40%; max-height: fit-content; object-fit: cover;
}

.profiletext{
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    font-size: 22px;
}

.text{
    font-size: 20px; font-weight: 200; color:white;
    padding-left: 5%; padding-right: 5%; border-spacing: 15px;
}



.profilelinks{
    display:contents;
    vertical-align: top;
    font-size: 32px; word-spacing: 12px;
}

.projectlist{

}

.project{

}

.projectImage{
    max-width: 90%; display: block; margin: 0 auto; max-height: 600px;
}


.footer{
    font-size: 20px; font-weight: 300; color: black; 
    background: #f2e9e4;
}
.footertext{
    padding-left: 5%;
    color: black; font-weight: 200; max-width: fit-content;
    font-size: 25px;
}



@media (max-width:600px) {
    .title{
        font-size: 20px;
    }
    .headerText{
        font-size: 11px;
    }
    .profile{
        max-width: 100%; padding-left: 5%; padding-right: 5%; gap: 10px; float:none; flex-direction: column; text-align: center;
    }
    .profiletext{
        max-width: 80%; width: 80%;
    }
    .profileImage{
        max-width: 90%; align-self: center; height: auto; max-height: fit-content;
    }
    .projectImage{
        max-width: 90%;
    }
    .navigation{
        display: grid; position: fixed; 
    }
    #navButtons{
    display: none;
    }
    
}