*{
    box-sizing: border-box;
}

@font-face {
    font-family:'FiraSans';
    src: url('font/FiraSans-Regular.ttf');
}

.navigation{
    background: #f2e9e4;
    align-items: center; justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.navigation a:hover{
    background-color: #bfb7b2;
}
.navigation table{
    margin: 10px;
    font-size: 22px; font-weight: 300; color: black; border-spacing: 15px;
}

.body{
    background-color: #12100f;
}

.catTitle{
    text-align: center;
    color: white;
}

.title{
    font-size: 35px; font-weight: 600; color: black; text-decoration: none;
}
.headerText{
    font-size: 16px; color: black; text-decoration: none; text-align: center; padding: 0px 15px;
    transition: background-color 0.25s ease-out;
}
.tabletext{
    font-size: 20px; font-weight: 200; color: black; 
    padding-right: 5%; border-spacing: 15px;
}

.mobileMenu{
    background-color: #f2e9e4; display: none;
}

.mobileMenu>img{
    width: 40px; margin: 15px 0px;
}

#navButtons{
    display: flex; flex-direction: row; column-gap: 20px;
}

.navShow{
    display: block !important;
}

.profile{
    max-width: 100%; word-wrap: break-word; 
    padding-left: 10%; padding-right: 10%; padding-top: 5%; padding-bottom: 5%; gap: 20px; 
    display: flex; flex-direction: row;
}

.profileImage{
    border-radius: 20px; max-width: 40%; max-height: fit-content; object-fit: cover;
}

.paranormalImage{
    border-radius: 20px; max-width: 50%; max-height: fit-content; object-fit: cover;
}

.profilelinks, .profilelinks:visited{
    display:contents;
    vertical-align: top;
    font-size: 32px; word-spacing: 12px;
    
}

a {
    color: #aea8ed;
    text-decoration: none;
}

.aboutMeImage{
    border-radius: 20px; max-width: 40%; max-height: fit-content; object-fit: cover;  align-self: center;
}

.aboutmeImageCollection{
    gap: 30px; display: flex; flex-direction: row; justify-content: center;
}

.aboutmeText{
    font-size: 20px; color: white;
}

.profiletext{
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    font-size: 22px;
    color: white;
    font-family: 'FiraSans';
}

.text{
    font-size: 20px; font-weight: 200; color:white;
    padding-left: 5%; padding-right: 5%; border-spacing: 15px;
}





.projectlist{

}

.project{

}

.projectImage{
    max-width: 90%; display: block; margin: 0 auto; max-height: 600px;
}


.footer{
    font-size: 20px; font-weight: 300; color: black; 
    background: #f2e9e4;
}
.footertext{
    padding-left: 5%;
    color: black; font-weight: 200; max-width: fit-content;
    font-size: 25px;
}

.paranormalFactoryCover{
    border-radius: 10px; max-width: 50%; max-height: fit-content; object-fit: cover;
}

.designWeekProjectImage{
        width:50%; display: block; margin: 0 auto;
    }



@media (max-width:600px) {
    .title{
        font-size: 20px;
    }
    .designWeekProjectImage{
        width:80%; display: block; margin: 0 auto;
    }
    .headerText{
        font-size: 11px;
    }
    .profile{
        max-width: 100%; padding-left: 5%; padding-right: 5%; gap: 10px; float:none; flex-direction: column; text-align: center;
    }
    .profiletext{
        max-width: 90%; width: 90%;
    }
    .profileImage{
        max-width: 90%; align-self: center; height: auto; max-height: fit-content;
    }
    .paranormalImage{
        max-width: 90%; align-self: center; height: auto; max-height: fit-content;
    }
    .paranormalFactoryCover{
        max-width: 90%; align-self: center; height: auto; max-height: fit-content;
    }
    .aboutMeImage{
        max-width: 90%; align-self: center; height: auto; max-height: fit-content;
    }
    .aboutmeImageCollection{ 
        max-width: 100%; padding-left: 5%; padding-right: 5%; gap: 10px; float:none; flex-direction: column; text-align: center;
    }
    .projectImage{
        max-width: 90%;
    }
    .navigation{
        display: grid; position: fixed; 
    }
    .text{
        font-size: 11px;
    }
    #navButtons{
    display: none;
    }
    
}