*{
    box-sizing: border-box;
}
.navigation{
    background: #f2e9e4;
    display: flex; align-items: center; justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.navigation a:hover{
    background-color: #f2e9e49d;
}
.navigation table{
    margin: 10px;
    font-size: 22px; font-weight: 300; color: black; border-spacing: 15px;
}

.profile{
    width: 100%; word-wrap: break-word; padding-left: 20%; padding-right: 20%; padding-top: 5%; padding-bottom: 5%; float: left; gap: 40px; display: flex;
}

.profiletext{
    display: inline-block;
    vertical-align: top;
}

.title{
    font-size: 35px; font-weight: 600; color: black;
}
.tabletext{
    font-size: 20px; font-weight: 300; color: black; 
    padding-right: 5%; border-spacing: 15px;
}
.footer{
    font-size: 20px; font-weight: 300; color: black; 
    background: #f2e9e4;
}
.footertext{
    padding-left: 5%;
}

@media screen and (max-width:600px) {
    profile, footer, navigation{
        width: 100%;
    }
}